.main_logo {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

#main_buttons {
    margin: 50px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main_buttons a:hover {
    transform : scale(1.2);
    transition: width 0.5s, height 0.5s, transform 0.5s;
  }